@model FTHWebapp.ViewModels.VolunteerViewModel

@{
    ViewData["Title"] = "Create";
}
<head>

    <link rel="stylesheet" type="text/css" href="~/css/margins.css" />
</head>

<div class="Volunteerregisterban"></div>

<div class="Registerform">
    <h2>Register as volunteer</h2>


    <div class="row">
        <form asp-action="Create">

            <div class="kolom1 col-md-3 col-md-offset-3">
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RoleID" class="control-label"></label>
                    <input asp-for="RoleID" class="form-control" />
                    <span asp-validation-for="RoleID" class="text-danger"></span>
                    </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="kolom2 col-md-3">
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birthdate" class="control-label"></label>
                    <input asp-for="Birthdate" class="form-control" />
                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Phonenumber" class="control-label"></label>
                    <input asp-for="Phonenumber" class="form-control" />
                    <span asp-validation-for="Phonenumber" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Experience" class="control-label"></label>
                    <input asp-for="Experience" class="form-control" />
                    <span asp-validation-for="Experience" class="text-danger"></span>
                </div>
            </div>

                <br />
           
                    <input type="submit" value="Help out now!" class="btn btn-default col-lg-3 col-lg-offset-4" /> 
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
