@{
    ViewData["Title"] = "Home";
}
<head>
    <title>Home</title>
    <link rel="stylesheet"  type="text/css" href="~/css/margins.css" />
</head>


    <div class="imagecontainer"></div>
    <div class="innercontainer">
       <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <h1>FTH</h1>
        <h2>For the humanity</h2>

            <ul class="Homelinkbox">
                <li><a asp-area="" asp-controller="Project" asp-action="Index">Projects</a></li>
                <li><a asp-area="" asp-controller="Volunteer" asp-action="Create">Register</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
            </ul>
 

</div>


